.center {
    margin:auto;
    align-items: center;
    align-self: center;
    text-align: center;
}
.flex {
    display: flex;
}
.box {
    background-color: black;
    border-color: blue;
    border-width: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
}
.white-text{
    color: white;
}
.logo {
    width: 40;
    height: 40;
}
.medBold {
    font-weight: 500;
}
.rightAlign {
    align-self: flex-end;
    float: right;
}
.leftAlign {
    align-self: flex-start;
}
.small {
    font-size: small;
}
.padBottom {
    padding-bottom: 1.2%;
}
.rotated{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: 600;
}
.bigButton {
    font-size: larger;
}
.side {
    display: inline-block;
    align-self:stretch;
    vertical-align: middle;
}
.hint {
    width: 25%;
    height: min-content;
    border: 2px solid rgb(159, 159, 159);
    padding-left: 10px;
    padding-right: 10px;
}
.bordered {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.equation {
    width:fit-content;
    padding-left: 1%;
    padding-right: 1%;
}
.entry {
    width:fit-content;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}
.bold_big {
    font-size: larger;
    font-weight: 500;
}
.fitcontent {
    width: fit-content;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}
.transparent {
    color: transparent;
}
.clickable {
    -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}
.clickable:hover {
    background-color: rgb(196, 195, 195);
    cursor: pointer;
}
.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.slidecontainer {
    width: 25%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 87%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}