<html>
    
    <title>IALearning</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

    <head>

        <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
        <link rel="stylesheet" href="static/style.css" />
        <script defer src="https://pyscript.net/latest/pyscript.js"></script>
  
        <py-config>
            [splashscreen]
                enabled = false
        </py-config>

    </head>

    <body>

        <image src="static/icon.png" class="flex logo side"></image>
        <h1 class="side center"><strong>IA Learning</strong></h1>
        <a href="/signup" class="rightAlign"><button id="signUpBtn" class = "side rightAlign">Sign Up</button></a>
        <br>
        <p></p>
        <h3 class="medBold">Interactive lessons made by people like you,<br>for people like you.</h3>

        <!-- <py-script>

            display("Hello world")
        
        </py-script> -->

        <form action="lesson">
            <button type="submit">Test Lesson</button>
        </form>

        <p></p>
        <p>Made for the 2023 Congressional App Challenge</p>

    </body>

</html>