{% extends 'lesson-base.html' %}
{% block title %} Syntax | IALearning {% endblock %}

{% block body %}

<div class="sidenav">
    <a href="#text">Text</a>
    <a href="#title">Title</a>
    <a href="#pause">Pause</a>
    <a href="#hint">Hint</a>
    <a href="#slider">Slider</a>
    <a href="#equation">Equation</a>
    <a href="#numberEntry">NumberEntry</a>
    <a href="#radioQuiz">RadioQuiz</a>
    <a href="#checkboxQuiz">CheckboxQuiz</a>
    <a href="#entryQuiz">EntryQuiz</a>
</div>

{% endblock %}