<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
        <link rel="stylesheet" href="static/style.css" />
        <script defer src="https://pyscript.net/latest/pyscript.js"></script>
        <py-config>
            [splashscreen]
                enabled = false
            terminal = false
            docked = false
        </py-config>

    </head>

    <body>

        <br>

        <h1 class="center">Lesson Name</h1>
        <div class="center">
            <button id="start_button" class="bigButton" py-click="on_start()" disabled>Start</button>
        </div>

        <div id="lesson" class="center">

            <p hidden id="lessonContent">

                {{ lesson }}

            </p>

            <div id="hint template" hidden class="bordered clickable center hint">                
                <p></p>
                <img src="static/hint-icon.png" width="50" height="50" class="side">
                <p class="side">A hint is hidden here. Click to reveal it.</p>
                <p class="unselectable transparent" id="hintText">Try rereading.</p>

            </div>

            <div id = "slider template" hidden class = "bordered center slidecontainer">
                <p id = "value display" class = "italic small"></p>
                <input type="range" min="1" max="100" value="50" class="center slider" id="range slider">
            </div>

            <div id = "equation template" hidden class = 'bordered center equation'>
                <p class="italic small">a * b</p>
                <p class="bold">26</p>
            </div>

            <p></p>
            <div id = "numEntry template" hidden class = 'bordered center entry'>
                <p class = "italic small">(aa)</p>
                <input type="number" class="center">
            </div>

            <div id = "answerTemp" hidden class = "center" style="width: 50%;">
                <img src="static/checkmark.png" class="center" width="45" height="45">
                <p class="center">Correct Answer(s): </p>
            </div>

            <form id = "quizForm template" hidden></form>
            
            <div id="quizDiv template" class = "center fitcontent bordered" hidden></div>

            <py-script>

                from time import sleep
                from js import document
                from pyscript import Element
                import random

                test = document.createElement("p")
                test.value = "hello"

                textContent = ["ID01Section I", "ID00Welcome to Section 1.", "ID02", "ID03Try rereading the text.", "ID04xx1,25", "ID06yy1,25", "ID05xx / yy", "ID05xx * yy", "ID09_answer|What is the answer?", "ID00Thank you for completing the quiz."]
                
                widgetsID = {"ID00":"text", "ID01":"title", "ID02":"pause", "ID03":"hint", "ID04":"slider", "ID05":"equation", "ID06":"numEntry", "ID07":"radioQuiz", "ID08":"checkboxQuiz", "ID09":"entryQuiz"}
                
                canContinue = False

                values = {}
                outputs = {}
                equations = {}
                
                operators = ["/", "*", "+", "-", "**", "(", ")", "%"]

                lessonDiv = Element("lesson")
                hintTemp = document.getElementById("hint template")
                sliderTemp = document.getElementById("slider template")
                equationTemp = document.getElementById("equation template")
                numEntryTemp = document.getElementById("numEntry template")
                radioOptionTemp = document.createElement("input")
                radioOptionTemp.setAttribute("type", "radio")
                quizDivTemp = document.getElementById("quizDiv template")
                quizFormTemp = document.getElementById("quizForm template")
                answerTemp = document.getElementById("answerTemp")

                class Quiz():
                    def __init__(self, quizInfo, ids, type):
                        self.info = quizInfo
                        self.IDs = ids
                        self.type = type
                        #print(self.info)

                ## Parser

                pageContent = []
                for i in textContent:
                    widget = [0,0]
                    try:
                        widget[0] = widgetsID[i[0:4]]
                        i = i[4:]
                    except:
                        #print("taking prev")
                        widget[0] = pageContent[len(pageContent)-1][0]
                    widget[1] = i
                    #print(widget)
                    pageContent.append(widget)
                
                ## Continue Function
                def continue_btn():
                    global pageContent
                    #print(pageContent)
                    for i in range(len(pageContent)):
                        if i <= current_index:
                            #print(i, ",", current_index)
                            #print(pageContent[i])
                            pageContent.pop(0)
                    on_start()

                ## Hint Function
                def hint_pressed(id):
                    #print("reveal", id)
                    hint = document.getElementById(id)
                    hintText = hint.lastElementChild
                    hintText.setAttribute("class", hintText.getAttribute("class").replace("transparent", ""))
                    hintText.style.color = "#4169e1"
                
                ## Quiz Function
                def submitQuiz(quizObj):
                    answerIndex = quizObj.info[-1]
                    quizObj.info = quizObj.info.pop(len(quizObj.info)-1)
                    #print(answerIndex)
                    #print(quizObj.info)
                    newAnswerMessage = answerTemp.cloneNode(deep=True)
                    newAnswerMessage.hidden = False
                    if quizObj.type == "radio":
                        correctAnswer = document.getElementById(quizObj.IDs[int(answerIndex)])
                        #print(correctAnswer.id)
                        if correctAnswer.checked:
                            newAnswerMessage.lastElementChild.hidden = True
                        else:
                            newAnswerMessage.firstElementChild.src = "static/crossmark.png"
                            newAnswerMessage.lastElementChild.innerHTML = "Correct Answer: "+str(document.getElementById(correctAnswer.id+"label").innerHTML)
                    elif quizObj.type == "checkbox":
                        answerIndexes = answerIndex
                        answerIndexes = answerIndexes.split("+")
                        newlist = []
                        for i in answerIndexes:
                            newlist.append(int(i))
                        answerIndexes = newlist
                        answerIndexes.sort()
                        print(quizObj.IDs)
                        checkedIndexes = []
                        v = 0
                        for i in quizObj.IDs:
                            el = document.getElementById(i)
                            print(el.type)
                            if el.type == "checkbox":
                                if el.checked:
                                    checkedIndexes.append(v)
                            v += 1
                        checkedIndexes.sort()
                        print(checkedIndexes)
                        print(answerIndexes)
                        if checkedIndexes == answerIndexes:
                            newAnswerMessage.lastElementChild.hidden = True
                        else:
                            newAnswerMessage.firstElementChild.src = "static/crossmark.png"
                            correctAnswerString = "| "
                            for i in answerIndexes:
                                correctAnswerString += document.getElementById(str(quizObj.IDs[i])+"label").innerHTML + " | "
                            newAnswerMessage.lastElementChild.innerHTML = "Correct Answer(s): "+correctAnswerString
                    elif quizObj.type == "entry":
                        correctAnswer = answerIndex
                        #print(correctAnswer.id)
                        entry = document.getElementById(str(quizObj.IDs[0]))
                        if entry.value == correctAnswer:
                            newAnswerMessage.lastElementChild.hidden = True
                        else:
                            newAnswerMessage.firstElementChild.src = "static/crossmark.png"
                            newAnswerMessage.lastElementChild.innerHTML = "Correct Answer: "+str(correctAnswer)
                    document.getElementById(quizObj.IDs[-1]).disabled = True
                    lessonDiv.element.appendChild(document.createElement("p"))
                    lessonDiv.element.appendChild(newAnswerMessage)
                    continue_btn()
                
                ## Slider + Equation Function
                def slider_changed(id, valueid):
                    global values, equations
                    slider = document.getElementById(id)
                    if "Entry" in id:
                        #print("entry ", slider.lastElementChild.value)
                        if float(slider.lastElementChild.value) > int(slider.lastElementChild.getAttribute("max")):
                            slider.lastElementChild.value = slider.lastElementChild.getAttribute("max")
                        elif float(slider.lastElementChild.value) < int(slider.lastElementChild.getAttribute("min")):
                            slider.lastElementChild.value = sldier.lastElementChild.getAttribute("min")
                    values[valueid] = slider.lastElementChild.value
                    slider.firstElementChild.innerHTML = "("+str(valueid)+") " + str(values[valueid])
                    present = []
                    for i in outputs:
                        if valueid in i:
                            equations[i][valueid] = values[valueid]
                            #print(equations)
                            complete = True
                            for v in equations[i]:
                                if v not in operators:
                                    if type(equations[i][v]) != type('1'):
                                        #print("not complete")
                                        complete = False
                                        break
                            if complete == True:
                                equation = document.getElementById(outputs[i])
                                eqString = ""
                                for v in equations[i]:
                                    #print(v)
                                    if v in operators:
                                        eqString += str(v)
                                    else:
                                        eqString += equations[i][v]
                                equation.lastElementChild.innerHTML = round(eval(eqString), 2)
                    #print(values)

                ## Displayer
                current_index = 0
                current_id = 0
                clicked_button = Element("start_button").element
                def on_start():
                    global current_index, current_id, clicked_button, pageContent
                    current_index = 0
                    clicked_button.disabled = True
                    v = 0
                    for i in pageContent:
                        #print(i)
                        if i[0] == "text":
                            text = document.createElement('p')
                            text.innerHTML = i[1]
                            #print(text.innerHTML)
                            lessonDiv.element.append(text)
                        if i[0] == "title":
                            text = document.createElement('h3')
                            text.innerHTML = "<h3>"+i[1]+"</h3>"
                            #print(text.innerHTML)
                            lessonDiv.element.append(text)
                        if i[0] == "pause":
                            current_index = v
                            nextBtn = document.createElement('button')
                            nextBtn.innerHTML = "Continue"
                            nextBtn.setAttribute('py-click', 'continue_btn()')
                            lessonDiv.element.append(nextBtn)
                            clicked_button = nextBtn
                            break
                        if i[0] == "hint":
                            #print(hintTemp.id)
                            newHint = hintTemp.cloneNode(deep=True)
                            newHint.id = "Hint "+str(current_id)
                            current_id += 1
                            newHint.hidden = False
                            def specialHint():
                                hint_pressed(newHint.id)
                            newHint.setAttribute("py-click", "hint_pressed('"+str(newHint.id)+"')")
                            lessonDiv.element.appendChild(document.createElement("p"))
                            lessonDiv.element.appendChild(newHint)
                            document.getElementById("Hint "+str(current_id-1)).lastElementChild.innerHTML = i[1]
                            #print(newHint.lastElementChild.innerHTML)
                        if i[0] == "slider":
                            id = i[1][0:2]
                            #print(id)
                            i[1] = i[1].replace(id, "")
                            #print(i[1])
                            ranges = i[1].split(",")
                            #print(ranges)
                            newSlider = sliderTemp.cloneNode(deep=True)
                            newSlider.id = "Slider "+id
                            newObj = newSlider.lastElementChild
                            newObj.setAttribute("min", str(ranges[0]))
                            newObj.setAttribute("max", str(ranges[1]))
                            newObj.setAttribute("value", str((int(int(ranges[0])+int(ranges[1]))/2)))
                            newObj.setAttribute("py-change", "slider_changed( '"+str(newSlider.id)+"', '"+str(id)+"')")
                            newSlider.hidden = False
                            lessonDiv.element.appendChild(document.createElement("p"))
                            lessonDiv.element.appendChild(newSlider)
                            newSlider.firstElementChild.innerHTML = "("+str(id)+")"
                        if i[0] == "equation":
                            newEquation = equationTemp.cloneNode(deep = True)
                            newEquation.id = "Equation "+str(current_id) 
                            current_id += 1
                            outputs[i[1]] = newEquation.id
                            lessonDiv.element.appendChild(document.createElement("p"))
                            lessonDiv.element.appendChild(newEquation)
                            newEquation.firstElementChild.innerHTML = i[1]
                            newEquation.lastElementChild.innerHTML = "Result"
                            newEquation.hidden = False
                            parsedEquation = i[1].split(" ")
                            equations[i[1]] = dict.fromkeys(parsedEquation, parsedEquation)
                        if i[0] == "numEntry":
                            id = i[1][0:2]
                            i[1] = i[1].replace(id, "")
                            ranges = i[1].split(",")
                            newEntry = numEntryTemp.cloneNode(deep=True)
                            newEntry.id = "Entry "+str(current_id)
                            current_id += 1
                            newEntry.hidden = False
                            lessonDiv.element.appendChild(document.createElement("p"))
                            lessonDiv.element.appendChild(newEntry)
                            newEntry.firstElementChild.innerHTML = "("+str(id)+")"
                            inputObj = newEntry.lastElementChild
                            inputObj.setAttribute("py-change", "slider_changed( '"+str(newEntry.id)+"', '"+str(id)+"')")
                            inputObj.setAttribute("min", int(ranges[0]))
                            inputObj.setAttribute("max", int(ranges[1]))
                        if i[0] == "radioQuiz":
                            correctIndex = i[1][1]
                            i[1] = i[1].replace("_"+correctIndex, "")
                            quizInfo = i[1].split("|")
                            #print(quizInfo)
                            quizDiv = quizDivTemp.cloneNode(deep=True)
                            question = document.createElement("p")
                            question.setAttribute("class", "bold_big")
                            question.innerHTML = quizInfo[1]
                            quizDiv.hidden = False
                            quizDiv.append(question)
                            quizDiv.id = "Quiz "+str(current_id)
                            current_id += 1
                            quizInfo.pop(0)
                            quizInfo.pop(0)
                            quizObj = Quiz(quizInfo, [quizDiv.id], "radio")
                            ids = []
                            for x in quizInfo:
                                optClone = radioOptionTemp.cloneNode(deep=True)
                                optClone.id = current_id
                                ids.append(current_id)
                                current_id += 1
                                optClone.setAttribute("name", quizInfo[0])
                                optClone.setAttribute("class", "leftAlign")
                                newLabel = document.createElement("label")
                                newLabel.setAttribute("for", current_id - 1)
                                newLabel.innerHTML = " " + str(x)
                                newLabel.id = optClone.id + "label"
                                newLabel.setAttribute("class", "leftAlign")
                                quizDiv.append(optClone)
                                quizDiv.append(newLabel)
                                quizDiv.append(document.createElement("br"))
                            submitBtn = document.createElement("button")
                            submitBtn.id = current_id
                            ids.append(current_id)
                            current_id += 1
                            submitBtn.innerHTML = "Submit"
                            quizInfo.append(correctIndex)
                            #print(quizInfo)
                            submitBtn.setAttribute("py-click", "submitQuiz(Quiz("+str(quizInfo)+", "+str(ids)+", 'radio'))")
                            quizDiv.append(submitBtn)
                            quizObj.IDs = ids
                            lessonDiv.element.append(document.createElement("p"))
                            lessonDiv.element.append(quizDiv)
                            current_index = v
                            break
                        if i[0] == "checkboxQuiz":
                            quizInfo = i[1].split("|")
                            correctIndex = quizInfo[0].replace("_", "")
                            i[1] = i[1].replace("_"+correctIndex, "")
                            #print(quizInfo)
                            quizDiv = quizDivTemp.cloneNode(deep=True)
                            question = document.createElement("p")
                            question.setAttribute("class", "bold_big")
                            question.innerHTML = quizInfo[1]
                            quizDiv.hidden = False
                            quizDiv.append(question)
                            quizDiv.id = "Quiz "+str(current_id)
                            current_id += 1
                            quizInfo.pop(0)
                            quizInfo.pop(0)
                            quizObj = Quiz(quizInfo, [quizDiv.id], "checkbox")
                            ids = []
                            for x in quizInfo:
                                optClone = radioOptionTemp.cloneNode(deep=True)
                                optClone.id = current_id
                                ids.append(current_id)
                                current_id += 1
                                optClone.setAttribute("name", quizInfo[0])
                                optClone.setAttribute("type", "checkbox")
                                optClone.setAttribute("class", "leftAlign")
                                newLabel = document.createElement("label")
                                newLabel.setAttribute("for", current_id - 1)
                                newLabel.innerHTML = " " + str(x)
                                newLabel.id = optClone.id + "label"
                                newLabel.setAttribute("class", "leftAlign")
                                quizDiv.append(optClone)
                                quizDiv.append(newLabel)
                                quizDiv.append(document.createElement("br"))
                            submitBtn = document.createElement("button")
                            submitBtn.id = current_id
                            ids.append(current_id)
                            current_id += 1
                            submitBtn.innerHTML = "Submit"
                            quizInfo.append(correctIndex)
                            #print(quizInfo)
                            submitBtn.setAttribute("py-click", "submitQuiz(Quiz("+str(quizInfo)+", "+str(ids)+", 'checkbox'))")
                            quizDiv.append(submitBtn)
                            quizObj.IDs = ids
                            lessonDiv.element.append(document.createElement("p"))
                            lessonDiv.element.append(quizDiv)
                            current_index = v
                            break
                        if i[0] == "entryQuiz":
                            i[1] = i[1].replace("_", "")
                            quizInfo = i[1].split("|")
                            correctIndex = quizInfo[0]
                            quizInfo.pop(0)
                            print(quizInfo)
                            quizDiv = quizDivTemp.cloneNode(deep=True)
                            question = document.createElement("p")
                            question.setAttribute("class", "bold_big")
                            question.innerHTML = quizInfo[0]
                            quizDiv.hidden = False
                            quizDiv.append(question)
                            quizDiv.id = "Quiz "+str(current_id)
                            current_id += 1
                            quizObj = Quiz(quizInfo, [quizDiv.id], "radio")
                            ids = []
                            optClone = radioOptionTemp.cloneNode(deep=True)
                            optClone.id = current_id
                            ids.append(current_id)
                            current_id += 1
                            optClone.setAttribute("class", "leftAlign")
                            optClone.setAttribute("type", "entry")
                            quizDiv.append(optClone)
                            quizDiv.append(document.createElement("p"))
                            submitBtn = document.createElement("button")
                            submitBtn.id = current_id
                            ids.append(current_id)
                            current_id += 1
                            submitBtn.innerHTML = "Submit"
                            quizInfo.append(correctIndex)
                            #print(quizInfo)
                            print(quizInfo)
                            submitBtn.setAttribute("py-click", "submitQuiz(Quiz("+str(quizInfo)+", "+str(ids)+", 'entry'))")
                            lessonDiv.element.append(document.createElement("p"))
                            print(quizInfo)
                            quizDiv.append(submitBtn)
                            quizObj.IDs = ids
                            lessonDiv.element.append(document.createElement("p"))
                            lessonDiv.element.append(quizDiv)
                            current_index = v
                            break

                        v += 1

                startBtn = Element("start_button").element
                startBtn.disabled = False

            </py-script>

        </div>

    </body>

</html>