<html>
    
    <title>
        {% block title %} {% endblock %}
    </title>
    
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

    <head>

        <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
        <link rel="stylesheet" href="static/style.css" />

        {% block pyscript %}
        <script defer src="https://pyscript.net/latest/pyscript.js"></script>
  
        <py-config>
            [splashscreen]
                enabled = false
        </py-config>
        {% endblock %}

    </head>

    <body>

        {% block body %}
        {% endblock %}

    </body>

</html>