{% extends 'lesson-base.html' %}
{% block title %} Lesson Editor | IALearning {% endblock %}

{% block body %}

<div class="py-4 bg-dark text-white text-center mb-1">
    <image src="static/icon.png" class=" mx-2 flex logo side"></image>
    <h1 class="side center mx-2"><strong>IA Learning</strong></h1><br>
    <p></p>
    <div class="btn-group btn-group-toggle center mb-3" id="PageNavigator" data-toggle="buttons">
        <label class="btn btn-info ml-2" py-click="navigateToPage('/')">
          <input type="radio" name="options" id="option1" autocomplete="off"> Home
        </label>
        <label class="btn btn-info" py-click="navigateToPage('/signup')">
          <input type="radio" name="options" id="option2" autocomplete="off"> Sign In / Sign Up
        </label>
        <label class="btn btn-info" py-click="navigateToPage('/your-lessons')">
          <input type="radio" name="options" id="option3" autocomplete="off"> Your Lessons
        </label>
        <label class="btn btn-info" py-click="navigateToPage('/syntax')">
            <input type="radio" name="options" id="option4" autocomplete="off"> Lesson Syntax
        </label>
        {% if isAccount %}
        <p class="mx-2 my-2">Welcome, <strong>{{ username }}</strong>!</p>
        {% endif %}
    </div>
</div>

<h2 class="mx-2">Lesson Editor</h2>

<div>
{% for element in lesson %}

    <p class="LessonElement" hidden>{{ element }}</p>

{% endfor %}
</div>

<div id="mainEditor">

</div>

<hr class="my-4">
<select class="mx-2 form-control w-25" name="widget" id="WidgetPicker">
    <option value="ID00">Text</option>
    <option value="ID01">Title</option>
    <option value="ID02">Pause</option>
    <option value="ID03">Hint</option>
    <option value="ID04">Slider</option>
    <option value="ID05">Equation</option>
    <option value="ID06">NumberEntry</option>
    <option value="ID07">RadioQuiz</option>
    <option value="ID08">CheckboxQuiz</option>
    <option value="ID09">EntryQuiz</option>
</select>
<br>
<button id="CreateBtn" py-click="createWidget()" class="btn btn-primary mx-2">Create</button>
<br><br>
<a href="/lesson?id={{lessonID}}&preview=true" class="btn btn-dark">Preview Lesson</a>
<br><br>
<div class="text-center">
    <button id="SaveBtn" py-click="renderWidgets()" class="mx-2 w-25 side btn btn-info"><strong>Save</strong></button>
    <p></p>
    <button id="PublishBtn" class="mx-2 w-25 side btn btn-success"><strong>Publish</strong></button>
    <p></p>
    <button id="DeleteBtn" class="mx-2 w-25 btn side btn-danger"><strong>Delete</strong></button>
</div>
<p class="transparent" id="DataString"></p>
<p class="transparent" id="LessonID">{{ lessonID }}</p>

<script>
    document.getElementById("SaveBtn").addEventListener("click", function() {
        $.ajax({
                data:{
                    "lessonContent": document.getElementById("DataString").innerHTML,
                    "lessonID":document.getElementById("LessonID").innerHTML
                },
                url:"/lesson-editor",
                method:"POST"
        })
    })
</script>

<script>
    document.getElementById("DeleteBtn").addEventListener("click", function() {
        $.ajax({
                data:{
                    "lessonID":document.getElementById("LessonID").innerHTML
                },
                url:"/deletelesson",
                method:"POST",
                success: function(){
                    window.location.href = "/index"
                }
        })
    })
</script>

<script>
    document.getElementById("PublishBtn").addEventListener("click", function() {
        $.ajax({
                data:{
                    "lessonID":document.getElementById("LessonID").innerHTML
                },
                url:"/publish-lesson",
                method:"POST",
                success: function(){
                    alert("Congratulations, your lesson has been published!")
                }
        })
    })
</script>

<py-script>
    from js import document, window

    widgetsID = {"ID00":"text", "ID01":"title", "ID02":"pause", "ID03":"hint", "ID04":"slider", "ID05":"equation", "ID06":"numberEntry", "ID07":"radioQuiz", "ID08":"checkboxQuiz", "ID09":"entryQuiz"}
    elements = document.getElementsByClassName("LessonElement")
    mainDiv = document.getElementById("mainEditor")
    WidgetPicker = document.getElementById("WidgetPicker")
    plainWidgets = ["pause"]

    def navigateToPage(page):
        window.location.href = page

    lessonContent = []
    for i in elements:
        lessonContent.append(i.innerHTML)

    def deleteWidget(index):
        global lessonContent
        lessonContent.pop(index)
        renderWidgets()
    
    def createWidget():
        global lessonContent
        newWidget = WidgetPicker.value
        lessonContent.append(newWidget)
        renderWidgets()
    
    def saveWidget(id):
        global lessonContent
        changedEntry = document.getElementById(id)
        index = int(id.replace("Entry", ""))
        widgetCode = lessonContent[index]
        widgetCode = list(widgetCode)
        widgetCode[4:] = changedEntry.value
        code = "".join(widgetCode)
        #print(code)
        lessonContent[index] = code
        renderWidgets()

    def renderWidgets():
        global lessonContent, mainDiv
        mainDiv.replaceChildren("")
        v = 0
        for i in lessonContent:
            elementType = widgetsID[i[0:4]]
            rest = i[4:]
            #print(elementType)
            #print(rest)
            widgetLabel = document.createElement("p")
            widgetLabel.innerHTML = "<strong>"+elementType.title() + "</strong> Widget"
            widgetLabel.setAttribute("class", "mt-3 mx-2 side")
            mainDiv.appendChild(widgetLabel)
            if elementType not in plainWidgets:
                entry = document.createElement("input")
                entry.setAttribute("class", "side mx-2 form-control w-25")
                entry.setAttribute("id", "Entry"+str(v))
                entry.setAttribute("py-change", "saveWidget('Entry"+str(v)+"')")
                entry.value = rest
                mainDiv.appendChild(document.createElement("br"))
                mainDiv.appendChild(entry)
            delButton = document.createElement("button")
            delButton.innerHTML = "Delete"
            delButton.setAttribute("class", "side mx-2 btn btn-danger")
            delButton.setAttribute("py-click", "deleteWidget("+str(v)+")")
            mainDiv.appendChild(delButton)
            mainDiv.appendChild(document.createElement("br"))
            v += 1
        document.getElementById("DataString").innerHTML = str(lessonContent)
    
    renderWidgets()

</py-script>

{% endblock %}