<!DOCTYPE html>
<html>

<head>


    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <link rel="stylesheet" href="static/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <script defer src="https://pyscript.net/latest/pyscript.js"></script> -->
    <title>Sign Up | IALearning</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

    <!-- <py-config>
        [splashscreen]
        enabled = false
    </py-config> -->

</head>

<body>

    <div class="py-4 bg-dark text-white text-center mb-1">
        <image src="static/icon.png" class=" mx-2 flex logo side"></image>
        <h1 class="side center mx-2"><strong>IA Learning</strong></h1><br>
        <p></p>
        <div class="btn-group btn-group-toggle center mb-3" id="PageNavigator" data-toggle="buttons">
            <a href="/" class="btn btn-info ml-2">
            <input type="radio" name="options" id="option1" autocomplete="off"> Home
            </a>
            <label class="btn btn-info active">
            <input type="radio" name="options" id="option2" autocomplete="off"> Sign In / Sign Up
            </label>
            {% if isAccount %}
            <p class="mx-2 my-2">Welcome, <strong>{{ username }}</strong>!</p>
            {% endif %}
        </div>
    </div>

    <h2 class="center mt-3">Register & Sign In</h2>
    <p></p>
    <p id="message" class="center"></p>
    <p></p>
    <form class="text-center">
        <input type="text" class="form-control w-25 mx-auto" name="username" id="username" placeholder="Username"><br>
        <input type="text" name="password" class="form-control w-25 mx-auto" id="password" placeholder="Password"><br>
        <button name="SignUp" class="side" type="button" id="signUpBtn">Register</button>
        <button type="button" class="side" name="LogIn" id="logInBtn">Sign In</button>
    </form>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        document.getElementById('signUpBtn').addEventListener("click", function () {
            // alert("sign up");
            $.ajax({
                data:{
                    "username":document.getElementById("username").value,
                    "password":document.getElementById("password").value
                },
                url:"/signup",
                method:"POST"
            }).done(function(response){
                if (response["success"]==true){
                    console.log("request successful")
                    window.location.href = "/"
                }
                else {
                    document.getElementById("message").textContent = ""
                    sleep(250).then(()=>{
                        document.getElementById("message").textContent = response["message"]
                    })
                }
            })
        });
        document.getElementById('logInBtn').addEventListener("click", function () {
            // alert("sign up");
            $.ajax({
                data:{
                    "username":document.getElementById("username").value,
                    "password":document.getElementById("password").value
                },
                url:"/signin",
                method:"POST"
            }).done(function(response){
                if (response["success"]==true){
                    console.log("request successful")
                    window.location.href = "/"
                }
                else {
                    document.getElementById("message").textContent = ""
                    sleep(250).then(()=>{
                        document.getElementById("message").textContent = response["message"]
                    })
                }
            })
        });
    </script>

</body>

</html>