{% extends 'lesson-base.html' %}
{% block title %} Your Lessons | IALearning {% endblock %}

{% block body %}
<h2 class="mx-2">Your Lessons</h2>

{% for lesson in lessons %}
<a href="/lesson-editor?id={{lesson['_id']}}">
<div class = "side clickable blackbordered box mx-2">
    <p></p>
    <p class="center white-text">{{lesson["name"]}}</p>
    <img src="static/thumbs-up.png" width="25px" height="25px" class="side center"></img>
    <p class="center white-text side">{{lesson["rating"]}}</p>
    {% if lesson["published"] %}
    <p class="white-text">Published</p>
    {% else %}
    <p class="white-text">Not published</p>
    {% endif %}
    {% if lesson["verified"] %}
    <p class="white-text">Verified!</p>
    {% else %}
    <p class="white-text">Not verified</p>
    {% endif %}
    <p></p>
</div>
</a>
{% endfor %}

<p class="transparent" id="creatorId">{{lessons[0]["creator_id"]}}</p>

<div>
    <p class="side mt-3 mx-2">Lesson Name: </p><input id="lessonName" class="mx-1 w-25 side form-control" type="text"><br>
    <button id="createLesson" class="mx-2">Create Lesson</button>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    document.getElementById("createLesson").addEventListener("click", function() {
        $.ajax({
                data:{
                    "lesson-name":document.getElementById("lessonName").value,
                    "lesson-creatorId": document.getElementById("creatorId").innerHTML
                },
                url:"/makelesson",
                method:"POST",
                success: function(data) {
                    window.location.href = "/lesson-editor?id="+data
                }
        })
    })
</script>

{% endblock %}