{% extends 'lesson-base.html' %}
{% block title %} Your Lessons | IALearning {% endblock %}

{% block body %}

<div class="py-4 bg-dark text-white text-center mb-1">
    <image src="static/icon.png" class=" mx-2 flex logo side"></image>
    <h1 class="side center mx-2"><strong>IA Learning</strong></h1><br>
    <p></p>
    <div class="btn-group btn-group-toggle center mb-3" id="PageNavigator" data-toggle="buttons">
        <label class="btn btn-info ml-2" py-click="navigateToPage('/')">
          <input type="radio" name="options" id="option1" autocomplete="off"> Home
        </label>
        <label class="btn btn-info" py-click="navigateToPage('/signup')">
          <input type="radio" name="options" id="option2" autocomplete="off"> Sign In / Sign Up
        </label>
        <label class="btn btn-info active">
          <input type="radio" name="options" id="option3" autocomplete="off" checked> Your Lessons
        </label>
        {% if isAccount %}
        <p class="mx-2 my-2">Welcome, <strong>{{ username }}</strong>!</p>
        {% endif %}
    </div>
</div>

<py-script>
    from js import window
    def navigateToPage(page):
        window.location.href = page
</py-script>

<h2 class="mx-2">Your Lessons</h2>

{% for lesson in lessons %}
<a href="/lesson-editor?id={{lesson['_id']}}">
<div class = "side clickable blackbordered box mx-2">
    <p></p>
    <p class="center white-text">{{lesson["name"]}}</p>
    <img src="static/thumbs-up.png" width="25px" height="25px" class="side center"></img>
    <p class="center white-text side">{{lesson["rating"]}}</p>
    {% if lesson["published"] %}
    <p class="white-text">Published</p>
    {% else %}
    <p class="white-text">Not published</p>
    {% endif %}
    {% if lesson["verified"] %}
    <p class="white-text">Verified!</p>
    {% else %}
    <p class="white-text">Not verified</p>
    {% endif %}
    <p></p>
</div>
</a>
{% endfor %}

<p class="transparent" id="creatorId">{{ makerId }}</p>

<div>
    <p class="side mt-3 mx-2">Lesson Name: </p><input id="lessonName" class="mx-1 w-25 side form-control" type="text"><br>
    <button id="createLesson" class="mx-2 btn btn-success">Create Lesson</button>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    document.getElementById("createLesson").addEventListener("click", function() {
        $.ajax({
                data:{
                    "lesson-name":document.getElementById("lessonName").value,
                    "lesson-creatorId": document.getElementById("creatorId").innerHTML
                },
                url:"/makelesson",
                method:"POST",
                success: function(data) {
                    window.location.href = "/lesson-editor?id="+data
                }
        })
    })
    document.getElementsByClassName("delLesson").forEach(function(element){
        element.addEventListener("click", function() {
            console.log(this)
            $.ajax({
                    data:{
                        "lesson-name":document.getElementById("lessonName").value,
                        "lesson-creatorId": document.getElementById("creatorId").innerHTML
                    },
                    url:"/deletelesson",
                    method:"POST",
                    success: function(data) {
                        window.location.href = "/lesson-editor?id="+data
                    }
            }) 
    });
    })
</script>

{% endblock %}